<script type="text/javascript">
  // Maybe you want to preload some data to avoid an AJAX
  // request immediately after the page is loaded.
  window.StarterApp = window.StarterApp || {};
  window.StarterApp.preloadData = {};
  //                              ^^^^
  //    put some JSON object here using erb interpolation
</script>

<h1>Home</h1>

<p>Starter app running</p>

<p><a href="/auth/google_oauth2" class="button big">Sign in using your Google Account</a></p>

<% # Render a template with: template("template_name") %>
<% # This looks in app/assets/dynamic/coffeescripts/templates %>
